*, body {
    user-select: none;
}

body {
    overflow: hidden;
}

#root {
    background-color: black;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

#output {
    position: fixed;
    color: white;
    font-size: 20rem;
    pointer-events: none;
}

#svgview {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.touch-gfx {
    animation: pulse 0.5s ease-in-out infinite alternate;
}

.touch-num {
    font-family: Arial, sans-serif;
    font-weight: bold;
    fill: #cccccc;
    text-align: center;
}

.center-line {
    stroke: rgb(255, 0, 0);
    stroke-width: 2px;
}

@keyframes pulse {
    from {
        transform: scale(0.8);
    }
}
